body{
      margin-left: 10%;
      margin-right: 10%;

    }


h3{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color:#618685;

}


#bioTitle{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  background-color: #618685;
  color:#fefbd8;
  height:1em;
  width: 99.2%;
  padding-top: .2em;
  padding-left: .2em;
}
#skills li{
  display: inline;
  text-decoration: inherit;
}


#slogan{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  text-transform: lowercase;
  color: #fefbd8;
  margin-bottom: 2em;
  /*margin-right: 1em;*/
  margin-top: -1em;
  float: right;

}

.mywork{
float: right;
}
#name1 {
  font-size: 400%;
  color: #fefbd8;
  text-align: left;
  margin-left: .1%;
  margin-right: 20%;
  margin-bottom: 0;
  letter-spacing: 6px;
  font-family: 'Raleway', sans-serif;
  text-decoration: overline;
  padding-bottom: 0;

}

#name2 {
  font-size: 400%;
  color: #fefbd8;
  text-align: left;
  margin-left: 10%;
  margin-right: 20%;
  margin-bottom: -.18em;
  margin-top: 0;
  letter-spacing: 6px;
  font-family: 'Raleway', sans-serif;
  text-decoration: overline;
  padding-bottom: 0;

}


nav {
  padding-bottom: 1px;
  text-decoration: none;

  /*border: 2px solid #80ced6;*/
}
#myPicture{
  float: left;
  border-top-left-radius: 50%;
  height: 20%;
  width: 25%;
  margin-top: 4.6em;
  margin-right: 2%;
  margin-left: 8%;
  border: 1px solid #618685;
  margin-bottom: 8%;

}
h4{
  display: inline;
}
th{
text-decoration: underline;

}
body{
  /*background-color: #618685;*/
  background-image: linear-gradient(bottom, #fefbd8 50%, #618685 50%);
  background-image: -o-linear-gradient(bottom, #fefbd8 50%, #618685 50%);
  background-image: -moz-linear-gradient(bottom, #fefbd8 50%, #618685 50%);
  background-image: -webkit-linear-gradient(bottom, #fefbd8 50%, #618685 50%);
  background-image: -ms-linear-gradient(bottom, #fefbd8 50%, #618685 50%);
}
#aboutMe{
  margin: 3em;
  border-top: 1px solid #d5f4e6;
  border-left: 6px solid #d5f4e6;
  border-right: 1px solid #d5f4e6;
  line-height: 1.9em;
  font-family: 'Raleway', sans-serif;
}
#bio {
  background-color: #fefbd8;
  height:60%;
  width: 63%;
  margin-left: 33%;
}
#ducktimer:hover, #mftsite:hover, #choiceCounter:hover, #rays:hover, #feelingReframersite:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}




.myTable{
margin-left: 5%;
margin-right: 5%;

}
td{
  margin:2em;
  padding:1em;
}



#mftsite{
  border-bottom: 6px solid #618685;
  border-top: 1px solid #618685;
  border-left: 6px solid #618685;
  border-right: 1px solid #618685;
  height: 10em;
  width: 10em;
}
#choiceCounter{
  border-bottom: 6px solid #618685;
  border-top: 1px solid #618685;
  border-left: 6px solid #618685;
  border-right: 1px solid #618685;
  height: 10em;
  width: 10em;
}

#feelingReframersite {
  border-bottom: 6px solid #618685;
  border-top: 1px solid #618685;
  border-left: 6px solid #618685;
  border-right: 1px solid #618685;
  height: 10em;
  width: 10em;
}


li{

  display: inline;

}


p{
  font-size: 1.0em;
  text-indent: 2em;
  font-family: 'Raleway', sans-serif;
  margin: 2em;

}

article{
    background-color: #c1cdcd;
    border-bottom: 6px solid #d5f4e6;
    border-top: 1px solid #d5f4e6;
    border-left: 6px solid #d5f4e6;
    border-right: 1px solid #d5f4e6;
    background-repeat: no-repeat;
    color: #618685;
    margin-top: 1em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1em;

}
footer {
    clear: both;
    text-align: center;
    color: #618685;
    font-family: 'Raleway', sans-serif;

}
#rays{
  height: 10em;
  width: 10em;
  border-bottom: 6px solid #618685;
  border-top: 1px solid #618685;
  border-left: 6px solid #618685;
  border-right: 1px solid #618685;
}
#ducktimer{
  height: 10em;
  width: 10em;
  border-bottom: 6px solid #618685;
  border-top: 1px solid #618685;
  border-left: 6px solid #618685;
  border-right: 1px solid #618685;

}

@media only screen and (max-width: 500px) {
    td, th {
        display: block;
    }
  #name1, #name2{
    font-size: 200%;
  }
#slogan{
  font-size: 80%;
}

#myPicture{
  display: inline-block;
  border-radius: 25%;
  height: 30%;
  width: 30%;
  margin-left: 20%;
  margin-top: 30%;
  margin-bottom: 0%;
}
#bio{
  background-color: #fefbd8;
  height:60%;
  width: 90%;
  margin-left: 3%;
  font-size: .5em;
  line-height: 1.6;
}

.myTable{

  height: 30%;
  width: 45%;
}

}
