body{
      margin-left: 10%;
      margin-right: 10%;

    }


h3{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}
#slogan{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  text-transform: lowercase;
  color: #fefbd8;
  margin-bottom: 2em;
  /*margin-right: 1em;*/
  margin-top: -1em;
  float: right;

}

.mywork{
float: right;
}
#name1 {
  font-size: 400%;
  color: #fefbd8;
  text-align: left;
  margin-left: .1%;
  margin-right: 20%;
  margin-bottom: 0;
  letter-spacing: 6px;
  font-family: 'Raleway', sans-serif;
  text-decoration: overline;
  padding-bottom: 0;

}

#name2 {
  font-size: 400%;
  color: #fefbd8;
  text-align: left;
  margin-left: 10%;
  margin-right: 20%;
  margin-bottom: -.18em;
  margin-top: 0;
  letter-spacing: 6px;
  font-family: 'Raleway', sans-serif;
  text-decoration: overline;
  padding-bottom: 0;

}


nav {
  padding-bottom: 1px;
  text-decoration: none;

  /*border: 2px solid #80ced6;*/
}
#myPicture{
  float: left;
  border-top-left-radius: 50%;
  height: 25%;
  width: 30%;
  margin-top: 5em;
  margin-right: 2%;
  margin-left: 8%;
  border: 1px solid #618685;
  margin-bottom: 8%;

}
h4{
  display: inline;
}

body{
  /*background-color: #618685;*/
  background-image: linear-gradient(bottom, #fefbd8 50%, #618685 50%);
  background-image: -o-linear-gradient(bottom, #fefbd8 50%, #618685 50%);
  background-image: -moz-linear-gradient(bottom, #fefbd8 50%, #618685 50%);
  background-image: -webkit-linear-gradient(bottom, #fefbd8 50%, #618685 50%);
  background-image: -ms-linear-gradient(bottom, #fefbd8 50%, #618685 50%);
}
#aboutMe{
  align-content:right;
  margin: 3em;
  border-top: 1px solid #d5f4e6;
  border-left: 6px solid #d5f4e6;
  border-right: 1px solid #d5f4e6;
  line-height: 1.9em;
  font-family: 'Raleway', sans-serif;
}

#ducktimer{
  height: 30%;
  width: 30%;
}

#rays{
  height: 30%;
  width: 30%;
}



li{

  display: inline;

}


p{
  font-size: 1.0em;
  text-indent: 2em;
  font-family: 'Raleway', sans-serif;
  margin: 2em;

}

article{
    background-color: #c1cdcd;
    border-bottom: 6px solid #d5f4e6;
    border-top: 1px solid #d5f4e6;
    border-left: 6px solid #d5f4e6;
    border-right: 1px solid #d5f4e6;
    background-repeat: no-repeat;
    color: #618685;
    margin-top: 1em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1em;

}
footer {
    clear: both;
    text-align: center;
    color: #618685;
    font-family: 'Raleway', sans-serif;

}
#rays{
  border-bottom: 6px solid #618685;
  border-top: 1px solid #618685;
  border-left: 6px solid #618685;
  border-right: 1px solid #618685;
}
#ducktimer{
  border-bottom: 6px solid #618685;
  border-top: 1px solid #618685;
  border-left: 6px solid #618685;
  border-right: 1px solid #618685;

}
